body {
    margin: 5rem 3rem;
} 

.ship {
    height: 2.9375rem;
    /* background-color: #000000; */
}

.ship:first-of-type:not(.placed) {
    margin-top: 0;
}

.ship:not(.placed) {
    margin:1rem;
}

.ship:last-of-type:not(.placed) {
    margin-bottom: 0;
}

.ship-style {
    height: 2.9375rem;
    border-radius: 10px;
    z-index: 1000;
    color:black;
    text-align: center;
    line-height: 2.9375rem;
}

#shipYard {
    padding-top:3rem;
    /* margin-bottom: 3rem; */
    min-width: 3rem;
    margin: 0 auto 3rem 3rem;
}

#player1Board, #player2Board {
    display: none;
    border: 2px solid black;
    height: 30.625rem;
    width: 30.625rem;
    margin-bottom: 3rem;
}

.grid-labels {
    display: none;
    grid-template-rows: 3.1rem auto;
    grid-template-columns: 3.1rem auto;
}

.grid-labels:first-of-type {
    margin: 0 0 0 auto;
}

.grid-labels:last-of-type {
    margin: 0 auto 0 0;
}

.numbers {
    display: flex;
    height: 3rem;
    width: 100%;
    grid-column: span 2;

}

.numbers div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letters {
    display: flex;
    flex-direction: column;
}

.letters div {
    height: 3.075rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    background-size: 3.0625rem 3.0625rem;
    background-image: linear-gradient( to right, #000000 1px, transparent 1px ), linear-gradient(to bottom, #000000 1px, transparent 1px);
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 5rem;
}

.container > button {
    margin: 2rem;
}

.simple-flex {
    display: flex;
}

.ship-msg-container {
    display: none;
    margin: 0 auto;
}

.ship-msg-container .ship-msg {
    margin: 0 .5rem;
}

.hover {
    cursor: pointer;
}

.miss {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
}

.hit {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

#msg2 {
    margin: 0 auto 2rem;
}

#ready {
    display: none;
}

#reset {
    display: none;
}