@font-face {
    font-family: captn;
    src: URL('/static/american_captain/American\ Captain.ttf'), URL('/static/american_captain/American\ Captain.otf');
}

body {
    margin: 5rem 3rem 0 3rem;
    background-color: aquamarine;
}

.play-button {
    padding: 16px 24px;
    font-weight: 700;
    font-size: 2rem;
    font-family: arial;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #f6e58d;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 15px #f9ca24;
}
  
.play-button:hover {background-color: #f6db7c}
  
.play-button:active {
    background-color: #f6db7c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
  
#vsComputer {
    margin: 10px auto 40px auto;
}

.ship {
    height: 2.9375rem;
}

.ship:first-of-type:not(.placed) {
    margin-top: 0;
}

.ship:not(.placed) {
    margin:1rem;
}

.ship:last-of-type:not(.placed) {
    margin-bottom: 0;
}

.ship-style {
    height: 2.9375rem;
    border-radius: 10px;
    z-index: 1000;
    color:black;
    text-align: center;
    line-height: 2.9375rem;
}

#shipYard {
    padding-top:3rem;
    min-width: 3rem;
    margin: 0 auto 3rem 3rem;
}

#player1Board, #player2Board {
    display: none;
    border: 2px solid black;
    height: 30.625rem;
    width: 30.625rem;
    margin-bottom: 3rem;
}

.grid-labels {
    display: none;
    grid-template-rows: 3.1rem auto;
    grid-template-columns: 3.1rem auto;
}

.grid-labels:first-of-type {
    margin: 0 0 0 auto;
}

.grid-labels:last-of-type {
    margin: 0 auto 0 0;
}

.numbers {
    display: flex;
    height: 3rem;
    width: 100%;
    grid-column: span 2;

}

.numbers div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letters {
    display: flex;
    flex-direction: column;
}

.letters div {
    height: 3.075rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    background-size: 3.0625rem 3.0625rem;
    background-image: linear-gradient( to right, #000000 1px, transparent 1px ), linear-gradient(to bottom, #000000 1px, transparent 1px);
}

.simple-flex {
    display: flex;
    justify-content: center;
}

.title-grid {
    display: grid;
    grid-template-columns: 33% 33% 34%;
}

#title {
    margin: auto;
    grid-column: 2;
    letter-spacing: 0.1em;
    font-size: 4rem;
    font-family: captn;
}

.ship-msg-container {
    display: none;
    margin: 0 auto;
    grid-column: span 2;
}

.ship-msg-container .ship-msg {
    margin: 0 .5rem;
}

.hover {
    cursor: pointer;
}

.miss {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
}

.hit {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

#ready {
    display: none;
    margin: auto;
    padding: 7px 20px;
    font-weight: 700;
    font-size: 1rem;
    font-family: arial;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #f7f577;
    border: none;
    border-radius: .75rem;
    box-shadow: 0 7px #fafaf8;
}

#ready:hover {background-color: #4ff409}

#ready:active {
    background-color: #4ff409;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#reset {
    display: none;
    margin-left: auto;
    padding: 13px 20px;
    font-weight: 700;
    font-size: 1rem;
    font-family: arial;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #8dd7f6;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 7px #4664fc;
}

#reset:hover {background-color: #6bcdf8}
  
#reset:active {
    background-color: #6bcdf8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#subImg {
    width: 50rem;
    margin: 0 auto;
}